extends layout

block content
  
  div.container
    h1
      h1=titulo
      a(class="prev",href="/elecciones") Elecciones
      a(class="next",href="/votos") Votos
  
    div.ganador
      - var arrTrump = [];
      - var arrHillary = [];

        h3 Hillary 
        h3 #{puntosTotalHillary}
        h3 Trump 
        h3 #{puntosTotalTrump}

    
